@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --main-text: #8DA1B9;
  --beige: #F4E8C1;
  --dark-brown: #594236;
  --brown: #6F584B;
}

.background-dark {
  background-color: var(--dark-brown);
}
.background-light {
  background-color: var(--beige);
}
.background-lightdark {
  background-color: var(--brown);
}
.text-primary {
  color: var(--main-text);
}