@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Allura&family=Raleway&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --main-text: #8DA1B9;
  --beige: #eed9c4;
  --dark-brown: #594236;
  --brown: #6F584B;
}

.background-dark {
  background-color: var(--dark-brown);
}
.background-light {
  background-color: var(--beige);
}
.background-lightdark {
  background-color: var(--brown);
}
.text-primary {
  color: var(--main-text);
}
.text-primary-dark {
  color: var(--dark-brown);
}
.logo {
  width: 100px;
}


.btn-style {
  background-color: var(--dark-brown);
  color: white;
}
.btn-style.active {
  background-color: var(--brown)
}
.btn-style:hover {
  background-color: var(--brown);
}

.link-style {
  color: var(--brown);
  font-weight: 700;
}
.link-style:hover {
  color: var(--dark-brown);
}
.background-image {
  width: 100%;
  height: 100%;
  background-image: url('./bgtown.png');
  background-size:auto;
  background-position: center;
  overflow: hidden;
}
.font-allura {
  font-family: 'Allura';
  font-size: 300%;
}
.font-raleway {
  font-family: 'Raleway';
}
.post-hover {
  height: 70px;
  transition: transform 0.3s ease-in-out;
  transform-origin: center;
}
.post-hover:hover {
  content: url('./post.png');
  transform: scale(1.2);
}
.friend-hover {
  height: 70px;
  transition: transform 0.3s ease-in-out;
  transform-origin: center;
}
.friend-hover:hover {
  content: url('./fr.png');
  transform: scale(1.2);
}
.logout-hover {
  height: 70px;
  transition: transform 0.3s ease-in-out;
  transform-origin: center;
}
.logout-hover:hover {
  content: url('./logout.png');
  transform: scale(1.2);
}
.feed-hover {
  height: 70px;
  transition: transform 0.3s ease-in-out;
  transform-origin: center;
}
.feed-hover:hover {
  content: url('./hm.png');
  transform: scale(1.2);
}
.hierarch-hover {
  height: 70px;
  transition: transform 0.3s ease-in-out;
  transform-origin: center;
}
.hierarch-hover:hover {
  content: url('./heirarchy.png');
  transform: scale(1.2);
}